.dataControls {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.dataControlHeader {
  font-weight: bold;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  justify-content: space-between;
}

.selectorContainer{
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  align-items: center;
}

.uploadContainer {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  align-items: center;
  align-self: flex-start;
}

.selector {
  flex: 1;
}

.selector select {
  width: 100%;
  margin: 0;
}

.fileUpload {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.fileUpload label {
  flex: 0;
  margin-right: 2em;
}

.fileUpload span {
  white-space: nowrap;
  flex: 1 1 auto;
  background-color: #DCDCDC;
  flex-wrap: nowrap;
  padding: 0.25em 2em;
}

.label {
  font-weight: bold;
  flex: 0 0 6rem;
}

.selectorContainer, .utilityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fileDownload {
  flex: 0;
  display: flex;
  align-items: center;
}

.urlRefreshContainer {
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center
}

.datasetSourceContainer {
  flex: 0;
  display: flex;
  flex-direction: row no-wrap;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.datasetSourceContainer:hover {
  overflow: visible;
}

.urlRefresh {
  flex: 0;
  display: flex;
  align-items: center
}

.urlRefresh input{
  width: 4rem;
  text-align: right;
}

.urlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.urlRefreshTime {
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.urlRefreshTime span{
  font-size: 0.85rem;
  opacity: 65%;
  text-align: center;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalMain {
  position:fixed;
  background: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  width: auto;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modalMain span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.centerSpan {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center !important;
}

/*Slider styles*/
.sliderContainer {
 position: relative;
}

.sliderSelectedScale {
}
.slider {
  position: relative;
  user-select:none;
  margin-top: 10px;  
}

.sliderScale {
}

.sliderThumb {
  position: relative;
  background-color:transparent;
  height:20px;
  width:20px;
  border-radius:50%;
  top: 4px;
  left: 12px;
  touch-action: none;
}

.sliderThumbMin {
  background-color:#DCDCDC;
}

:global(.darkTheme) .sliderThumbMin {
  background-color:#E0E0E0;
}

.sliderThumbMax {
  background-color: #767777;
  opacity: 0.99;
}

:global(.darkTheme) .sliderThumbMax {
  background-color: #858585;
  opacity: 0.99;
}

.sliderThumbMin::after{
  display:inline-block;
  position:relative;
  content:"";
  height: 6px;
  background-color: #191919;
  width: 12px;
  top: -3px;
  left:15px;
}

.sliderThumbMax::before
{
  display:inline-block;
  position:relative;
  content:"";
  height: 6px;
  background-color: #191919;
  width: 14px;
  top: -3px;
  left:-15px;
}

.slot {
  text-align: center;
  display:inline-block;
  position:relative;
  width:40px;
  height:20px;
  background-color:none;
}

.slot :hover {
  height:20px;
  width:20px;
  border-radius:50%;
  border: 1px dotted black;
  top: 3px;
  left: 12px;
}

.scaleMark {
 position: absolute;
 border: 0.5px solid #191919;
 height: 20px;
 top:0;
}

.slotScale {
  text-align: center;
  display:inline-block;
  width:40px;
  height:20px;
  color: #8D8E8F;
  user-select: none;
 
}

.slotScale :hover {
  height:20px;
  width:20px;
  border-radius:50%;
  border: 1px dotted black;
  top: 4px;
  left: 12px;
}

:global(.darkTheme) .slotScale {
  color: #C9C9C9;
}

.slot >.sliderThumb {
  top:0px
}

.line {
  position: relative;
  background-color: #191919;
  height:2px;
  width: 40px;
  top: 12px;
}

.lineSelected {
  height: 6px;
  background-color: #191919;
  width: 40px;
  top: 11px;
}