.dataControls {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.selectorContainer, .uploadContainer {
  display: flex;
  align-items: center;
}

.selector {
  flex: 1;
}

.selector select {
  width: 100%;
  margin: 0;
}

.fileUpload {
  flex: 1;
  display: flex;
  align-items: center
}

.fileUpload label {
  flex: 0;
  margin-right: 0;
}

.fileUpload span {
  flex: 1;
}

.label {
  font-weight: bold;
  flex: 0 0 6rem;
}

.selectorContainer, .utilityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fileDownload {
  flex: 0;
  display: flex;
  align-items: center;
}

.urlRefreshContainer {
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center
}

.urlRefresh {
  flex: 0;
  display: flex;
  align-items: center
}

.urlRefresh input{
  width: 4em;
  text-align: right;
}

.urlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalMain {
  position:fixed;
  background: white;
  flex: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  width: auto;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modalMain span {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

.centerSpan span {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}