.header {
  background: transparent;
  height: auto;
  flex-wrap:  wrap;
  align-items: center;
  margin-bottom: 1.5rem;
}

.logo {
  height: 2rem;
}

.appName {
  margin-left: 0.5rem;
  font-size: 2em;
  font-weight: bold;
}

.tagline {
  width: 100%;
  font-style: italic;
}
