.viz {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
}

.viz :global(.viz-node) circle {
  stroke: transparent;
  stroke-width: 0;
}

.viz :global(.viz-node) circle {
  fill: black;
}

.viz :global(.viz-node.viz-searchResult) circle {
  opacity: 1;
}

:global(.viz-isChanged-fixed) circle {
  fill:black;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

:global(.darkTheme) :global(.viz-isChanged-fixed) circle {
  fill:white;
}

.viz :global(.viz-isChanged) circle {
  -webkit-animation-name: delta;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation: delta 2s infinite;
  animation-delay: 250ms;
}

@keyframes delta {
  50% {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  },
  0%, 100% {

  }
}

:global(.viz-isAdded-fixed) circle {
  fill: black;
  -webkit-clip-path: polygon(0% 33%, 33% 33%, 33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%);
  clip-path: polygon(0% 33%, 33% 33%, 33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%);
}

:global(.darkTheme) :global(.viz-isAdded-fixed) circle {
  fill: white;
  -webkit-clip-path: polygon(0% 33%, 33% 33%, 33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%);
  clip-path: polygon(0% 33%, 33% 33%, 33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%);
}

.viz :global(.viz-isAdded) circle {
  -webkit-animation-name: plus;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation: plus 2s infinite;
  animation-delay: 250ms;
}

@keyframes plus {
  50% {
    -webkit-clip-path: polygon(0% 33%, 33% 33%, 33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%);
    clip-path: polygon(0% 33%, 33% 33%, 33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%);
  },
  0%, 100% {

  }
}

:global(.viz-isRemoved-fixed) circle {
  fill: black;
  -webkit-clip-path: polygon(0% 33%, 100% 33%, 100% 66%, 0% 66%);
  clip-path: polygon(0% 33%, 100% 33%, 100% 66%, 0% 66%);
}

:global(.darkTheme) :global(.viz-isRemoved-fixed) circle {
  fill: white;
  -webkit-clip-path: polygon(0% 33%, 100% 33%, 100% 66%, 0% 66%);
  clip-path: polygon(0% 33%, 100% 33%, 100% 66%, 0% 66%);
}

.viz :global(.viz-isRemoved) circle {
  -webkit-animation-name: minus;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation: minus 2s infinite;
  animation-delay: 250ms;
}

@keyframes minus {
  50% {
    -webkit-clip-path: polygon(0% 33%, 100% 33%, 100% 66%, 0% 66%);
    clip-path: polygon(0% 33%, 100% 33%, 100% 66%, 0% 66%);
  },
  0%, 100% {

  }
}

.viz :global(.viz-node.viz-searchExcluded) circle {
  opacity: 0.2;
}

.viz :global(.viz-ringMenuExcluded) circle {
  opacity: 0.2;
}

.viz :global(.viz-ringMenuExcluded) text {
  opacity: 0.2;
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
}

.viz :global(.viz-rootNode) circle {
  fill: transparent;
}

.viz :global(.viz-groupingNode) circle {
  opacity: 0.2;
}

.viz :global(.viz-groupingNode.viz-containsNoSearchResult) circle {
  opacity: 0.25;
}

.viz :global(.viz-groupingNode.viz-containsSearchResult) circle {
  stroke:Lime;
  stroke-width: 4;
}

.viz :global(.viz-groupingNode):hover circle {
  opacity: 0.15;
}

.viz :global(.viz-groupingNode.viz-coloredNode) circle {
  opacity: 1;
}

.viz :global(.viz-groupingNode.viz-coloredNode):hover circle {
  opacity: 0.95;
}

.viz :global(.viz-zoomMinutia) {
  visibility: hidden;
}

.viz :global(.viz-label) {
  fill: black;
  text-anchor: middle;
  dominant-baseline: alphabetical;
}

:global(.darkTheme) .viz :global(.viz-label) {
  fill: rgba(255, 255, 255, 0.836); /* darken white to reduce contrasting*/
  text-anchor: middle;
  dominant-baseline: alphabetical;
}

.viz :global(.viz-labelShape) {
  fill: black;
  opacity: 0.25;
}

.viz :global(.viz-countLabel) {
  text-anchor: middle;
  dominant-baseline: mathematical;
}

.viz :global(.viz-tooltip) {
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  white-space: nowrap;
}

.viz :global(.viz-legend) {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  max-width: 15rem;
  max-height: 100%;
  overflow-y: auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.viz :global(.viz-legendItem) {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  cursor: pointer;
  user-select: none;
}

.viz :global(.viz-legendItem.viz-legendDisabled) {
  opacity: 0.2;
  filter: saturate(0);
}

.viz :global(.viz-legendColor) {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  flex: 0 0 1rem;
  margin-right: 0.5rem;
}

.viz :global(.viz-legendLabel) {
  flex: 1 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
:global(.darkTheme)  .viz {
  background-color: #333333;
}

:global(.darkTheme) .viz :global(.viz-tooltip) {
  background-color: rgb(130, 129, 129);
  border: 1px solid rgb(100, 100, 100);
  padding: 1rem;
  white-space: nowrap;
}

:global(.darkTheme) .viz :global(.viz-node) circle {
  fill: white;
}

:global(.darkTheme) .viz :global(.viz-leafNode) circle {
  fill: black;
}

:global(.darkTheme) .viz :global(.viz-rootNode) circle {
  fill: transparent;
}

:global(.darkTheme) .viz :global(.viz-groupingNode) circle {
  opacity: 0.5;
}

:global(.darkTheme) .viz :global(.viz-groupingNode):hover circle {
  opacity: 0.4;
}

:global(.darkTheme) .viz :global(.viz-labelShape) {
  fill: white;
  opacity: 0.5;
}

:global(.darkTheme) .viz :global(.viz-groupingNode.viz-coloredNode) circle {
  opacity: 1;
}


:global(.darkTheme) .viz :global(.viz-legend) {
  background-color: rgba(0, 0, 0, 0.05);
}

.viz :global(.viz-annotation-title) {
  fill: black;
  text-anchor: middle;
  dominant-baseline: middle;
  font-weight: bold;
}

:global(.darkTheme) .viz :global(.viz-annotation-title) {
  fill: white;
}

.viz :global(.viz-annotation-text) {
  fill: black;
  text-anchor: middle;
  dominant-baseline: middle;
}

:global(.darkTheme) .viz :global(.viz-annotation-text) {
  fill: white;
}

.viz :global(.viz-annotation-hidden) {
  display:none;
}

.viz :global(.viz-annotation-hidden) circle {
  display:none;
}

/*Nag Icon*/
.viz :global(.nag) {
  animation-name: nag;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}
@keyframes nag { 
  0% { 
    transform: rotateX(0deg); 
  },
  5% {
    transform: rotateX(-35deg);
  },
  10%{
    transform: rotateX(0deg); 
  },
  15% {
    transform: rotateX(35deg); 
  },
  20% {
    transform: rotateX(0deg); 
  },
  100% { 
    transform: rotateX(0deg); 
  }
}
/*@keyframes nag { 
  0% { 
    transform: translateX(0px) rotateX(0deg); 
  },
  5% {
    transform: translateX(-3px) rotateX(-5deg);
  },
  10%{
    transform: translateX(0px) rotateX(0deg); 
  },
  15% {
    transform: translateX(3px) rotateX(5deg); 
  },
  20% {
    transform: translateX(0px) rotateX(0deg); 
  },
  100% { 
    transform: translateX(0px) rotateX(0deg); 
  }
}*/

/*Ring Menu*/
.viz :global(.viz-ring-menu){
  visibility: visible;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
}

.viz :global(circle.viz-bg-circle){
  stroke: transparent;
  fill: white !important;
}

:global(.darkTheme) .viz :global(circle.viz-bg-circle){
  fill: rgb(130, 129, 129) !important;
}

.viz-change-icon-container .svg-icon {
  color: black;
  fill: black;
}


:global(.darkTheme) .viz :global(.viz-change-icon-container){
  color: white !important;
  fill: white !important;
}
