.searchControls {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.search {
  flex: 1;
  display: flex;
  align-items: center
}

.search label {
  flex: 0;
  margin-right: 0;
}

.search span {
  flex: 1;
}

.label {
  font-weight: bold;
  flex: 0;
  margin-right: 0;
}
