.checkboxContainer {
  margin-left: 2.2rem;
}

.colorBy {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.colorBy label {
  flex: 0 0;
}

.fieldSelect {
  flex: 1 1;
}

.fieldSelect select {
  box-sizing: border-box;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
