.fieldList {
  list-style-type: none;
  padding: 0;
}

.field {
  margin: 0.25rem 0;
  padding: 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.description {
  font-weight: bold;
  text-align: right;
  padding-right: 1rem;
  flex: 0 0 6rem;
}

.fieldName {
  flex: 1 1;
  padding-right: 1rem;
  min-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fieldSelect {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  flex: 1;
}

.newField {
  margin: 0.25rem 0.5rem;
}

.actions {
  padding-right: 0.25rem;
  flex: 0 0 auto;
  text-align: right;
}

.actions button {
  background: none;
  margin: 0;
  padding: 0.25rem;
}

.actions button[disabled] {
  opacity: 0.2;
}

.actions button:focus {
  outline: unset;
}
