.appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #f8f8f8;
  overflow-x: hidden;
  background-color: #E6E7E9;
}

.appContainer:global(.darkTheme) {
  background-color: #333333;
  color: white;
}

.controls {
  background-color: #f8f8f8;
  width: 19rem;
  padding: 0.5rem;
  transition: transform 0.25s;
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
  height: 100%
}

:global(.darkTheme) .controls {
  background-color: #666666;
}

.controls .section {
  border-bottom: 2px dashed rgba(125, 125, 125, 0.5);
  padding: 1rem 0;
  flex: 0 0;
}

.dimSection {
  justify-content: center;
  opacity: 0.20;
}

.controls .hierarchySection {
  overflow: auto;
  flex: 0 1 auto;
}

.canvas {
  flex: 1 1;
  transition: transform 0.25s;
  transform: translateZ(0);
  height: 100%
}

input[name=hideControls] {
  display: none;
}

label.hideControls {
  position:absolute;
  z-index: 10;
  top: 0;
  left: 16.5rem;
  transition: transform 0.25s;
  background-color: #f8f8f8;
  cursor: pointer;
  padding: 0;
}

:global(.darkTheme) label.hideControls {
  background-color: #666666;
}

label.hideControls span {
  transition: transform 0.5s;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  display: block;
  transform: scale(0.5, 1);
  font-weight: bold;
}

input[name=hideControls]:checked ~ label.hideControls {
  transform: translate3d(-16.5rem, 0, 0);
}

input[name=hideControls]:checked ~ label.hideControls span {
  transform: rotate(-180deg) scale(0.5, 1);
}

input[name=hideControls]:checked ~ .controls {
  transform: translate3d(-18.5rem, 0, 0);
}

input[name=hideControls]:checked ~ .canvas {
  transform: translate3d(-18.5rem, 0, 0);
  margin-right: -18.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalMain {
  position:fixed;
  background: white;
  flex: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  width: auto;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modalMain span {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.justifySpan {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  padding-right: 1em;
}

.centerSpan {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.accordionHeader {
  font-weight: bold;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px dashed rgba(125, 125, 125, 0.5);
  cursor: pointer;
}

.accordionHeader:hover {
  color: #C62f39;
}

.dataControlHeader {
  font-weight: bold;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.emptyDataset {
  position:fixed;
  background: transparent;
  flex: 0;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  padding: 1rem;
  margin: 1rem;
  width: auto;
  height: auto;
  top:50%;
  left:60%;
  transform: translate(-50%,-50%);
}

.emptyDataset span {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}